body {
  background-color: #195832;
}

#wrapper {
  margin: 0 auto;
  width: 982px;
}

.vspace {
  height: 2em;
}

/* Top Main Menu */
.main-menu {
  display:table;
  float:right;
  margin: 1em 0 0.5em 0;
  font-size: 14px;
  font-weight: bold;
}
.main-menu ul li { display: inline; }
.main-menu ul li a {
	display: inline-block;
  padding: 0.4em 1.5em;
  text-decoration: none;
	-moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.main-menu ul li a, .main-menu ul li a:visited
{
  color: #75B58F;
  background-color: #1F412C;
}
.main-menu ul li a.active, .main-menu ul li a:hover
{
   background-color: #75B58F;
   color: #1F412C;
 }

ul, ol, dir, menu {
  list-style: none;
}

.page-title {
  color: #DAE5D6;
  font-weight: bold;
  font-size: 3em;
}
.page-subtitle {
  color: #B3C6AC;
  font-weight: bold;
  font-style: italic;
  font-size: 1.4em;
  margin-left: 25px;
  margin-bottom: 25px;
}

/* Blocks of information */
.sticker {
	background-color: white;
  padding: 1.25em 1.45em 1.25em 1.55em;
  margin: 0.5em 0 3em 0;
  -moz-border-radius: 1em; -webkit-border-radius: 1em; border-radius: 1em;
	opacity:0.9;
  -moz-box-shadow: 0 0 1.1em #666; -webkit-box-shadow: 0 0 1.1em #666; box-shadow: 0 0 1.1em #666;
}

.sticker .heading, .sticker h1 {
  color: #1F412C;
  margin: 0.25em 0 0.25em 0;
  font-weight: bold;
  font-size: 1.2em;
}

.stickerHeading {
	background-color: #DAE5D6; height: 1.3em; margin: -2em -1.45em 1.25em -1.55em; padding: 0.4em 1em 1.1em 1.75em;
	-moz-border-radius-topright: 1em; -moz-border-radius-topleft: 1em;
	-webkit-border-top-right-radius: 1em; -webkit-border-top-left-radius: 1em;
	border-top-right-radius: 1em; border-top-left-radius: 1em;
  border-bottom: solid 1px #ADBDA8;
}

.stickerHeading h1 {
  display: inline;
}

/* Left-Right columns */
.floatLeft {
  float: left !important;
}
.floatRight {
  float: right !important;
}

.clear {
  clear: both;
}

/* Header choice */
.header {
  display: flex;
  flex-flow: row;
}

.header-content {
  /*float: right !important;
  width: 832px;*/
  flex: 6;
}

/* Managing the template */
.template-text textarea {
  width: 100%;
}

/* List of cards */
.list {

}

.list select {
  width: 100%;
}

.stickerHeading-buttons {
  float: right;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.button:active {
	position:relative;
	top:1px;
}

.header-choice-buttons .button {
  display: block;
  flex: 1;
  text-align: right;
}

.disabled-button, .disabled-button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
  cursor: default;
}
.disabled-button:active {
	position:relative;
	top:0px;
}


/***************************/
/* --- Editable fields --- */
/***************************/
.editable-fields {

}

.field-label {
  flex: 1;
  text-align: right;
  margin-right: 6px;
}
.field-largeInput {
  flex: 2;
}
.field-flexrow {
  display: flex;
}

/***********************/
/* --- Canvas View --- */
/***********************/
.canvas-view {
  overflow: auto;
}
.canvas-view canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
