<div class="container">
  <h1>About Geckos</h1>
  <div>
    <p>Geckos is a web-application, created to make cards based on templates.</p>
    <p>This page is a demo-page for Geckos. A list of templates are pre-installed, feel free to use them, or create your own.</p>
    <p>Templates can be found on <a href="https://github.com/Gulix/geckos/tree/master/templates">this page</a> of the repository, and there is a <a href="http://www.gulix.fr/geckos/wiki">Documentation Wiki</a> to help you create your own.</p>
    <p>Geckos is open-source, and can be found on <a href="http://www.github.com/gulix/geckos">Github</a>.</p>
    <p>Geckos is still <a href="http://www.github.com/gulix/geckos/issues">under development</a>, and this demo page is a Beta version of the software.</p>
    <p>Geckos relies on multiple open-source softwares &amp; libraries :</p>
    <ul>
      <li>Geckos main engine
        <ul>
          <li><a href="https://jquery.com/">JQuery</a></li>
          <li><a href="http://knockoutjs.com/">KnockoutJS</a></li>
          <li><a href="http://fabricjs.com/">FabricJS</a></li>
          <li><a href="http://requirejs.org/">RequireJS</a></li>
        </ul>
      </li>
      <li>Geckos UI
        <ul>
          <li><a href="http://getskeleton.com">Skeleton</a></li>
          <li><a href="https://github.com/codrops/FullWidthTabs">codrops - Responsive Full Width Tabs</a></li>
          <li><a href="https://github.com/codrops/Blueprint-VerticalIconMenu">codrops - Vertical Icon Menu</a></li>
          <li><a href="https://icomoon.io">IcoMoon Vector Font generator</a></li>
        </ul>
      </li>
      <li>Widgets
        <ul>
          <li><a href="http://ckeditor.com/">CKEditor</a></li>
          <li><a href="http://jscolor.com/">JSColor</a></li>
          <li><a href="https://github.com/tkrotoff/jquery-simplecolorpicker">JQuery.simplecolorpicker.js</a></li>
          <li><a href="http://designwithpc.com/Plugins/ddSlick">ddSlick</a></li>
        </ul>
      </li>
      <li>Helpers &amp; others libraries
        <ul>
          <li><a href="https://github.com/eligrey/FileSaver.js/">FileSaver.js</a></li>
          <li><a href="http://bgrins.github.io/TinyColor/">TinyColor</a></li>
          <li><a href="https://github.com/epoberezkin/ajv">AJV</a></li>
          <li><a href="https://github.com/fengyuanchen/cropper">Cropper</a></li>
          <li><a href="https://github.com/typekit/webfontloader">Typekit Web Font Loader</a></li>
          <li><a href="https://lodash.com/">Lodash</a></li>
          <li><a href="https://stuk.github.io/jszip/">JsZip</a></li>
          <li><a href="https://momentjs.com/">Moment.js</a></li>
          <li><a href="https://github.com/bpampuch/pdfmake">PdfMake</a></li>
        </ul>
      </li>
    </ul>
    <p>Any problem ? Any need ? Any question ? Any bug ? Write an <a href="http://www.github.com/gulix/geckos/issues/new">Issue</a> !</p>
  </div>
</div>
