<div class="editable-field">
  <label data-bind="text: field.label"></label>
  <div class="image-field-buttons">
    <div class="button" data-bind="click: field.loadImage">Load image</div>
    <div class="button" data-bind="click: field.editImage, css: { disabled: field.isDisabled }">Edit image</div>
  </div>
  <input style="display: none" type="file" data-bind="attr: { id: field.uniqueInputId }, event: { change: field.uploadImage($element.files[0])}"></input>
  <div style="display:none;" class="crop-modal-box" data-bind="visible: field.isCropShown">
    <div class="crop-modal-wrapper box-elements">
      <div class="crop-modal-header">
        <h3>Image Editor</h3>
        <div class="crop-modal-close" data-bind="click: field.closeCrop">X</div>
      </div>
      <div class="crop-modal-main">
        <div class="crop-modal-container">
          <img data-bind="attr: { src: field.editedDataUrl, id: field.uniqueCropId }"></img>
        </div>
        <div class="crop-modal-right">
        </div>
      </div>
      <div class="crop-modal-footer">
        <div class="button" data-bind="click: field.crop">Crop !</div>
      </div>
    </div>
  </div>
</div>
