body {
  background-color: #F1F1EF;
}

.fullwidth-container {
  width: 100%;
  max-width: initial;
  padding: 0 0;
}

/* Top Main Menu */
.main-menu {
  display:table;
  float:right;
  margin: 1em 0 0.5em 0;
  font-size: 14px;
  font-weight: bold;
}
.main-menu ul li { display: inline; }
.main-menu ul li a {
	display: inline-block;
  padding: 0.4em 1.5em;
  text-decoration: none;
	-moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.main-menu ul li a, .main-menu ul li a:visited
{
  color: #F1F1EF;
  background-color: #07889B;
}
.main-menu ul li a.active, .main-menu ul li a:hover
{
   background-color: #66B9BF;
 }

.page-title {
  color: #07889B;
  font-weight: bold;
  font-size: 3em;
}
.page-subtitle {
  color: #66B9BF;
  font-weight: bold;
  font-style: italic;
  font-size: 1.4em;
  margin-left: 25px;
  margin-bottom: 25px;
}

/********************************************/
/* Section display with left vertical menus */
/********************************************/

.section {
  position: relative;
  float: left;
  width: 100%;
}

.section-twocols {
  float: left;
  width: 200%;
  position: relative;
  left: 100px;
}

.section-colwrap {
  float: right;
  width: 50%;
  position: relative;
  right: 100px;
  padding-bottom: 1em;
}

.col-content {
  margin: 0 15px 0 115px;
  position: relative;
  right: 100%;
}

.col-menu {
  float: left;
  width: 70px;
  position: relative;
  right: 85px;
}

/*************************/
/* Blocks of information */
/*************************/
.box-elements {
	background-color: rgba(238, 170, 123, 0.2); /*#EEAA7B;*/
  padding: 1em;
  margin: 10px;
  border: solid 1px #E37222;
}

.box-elements h3 {
  color: #E37222;
}

/*****************/
/* Vertical Menu */
/*****************/

.vertical-menu {
	float: left;
  display: block;
	overflow: hidden;
	top: 40;
	left: 0;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #F1F1EF;
}

.vertical-menu li a {
	display: block;
	text-indent: -500em;
	height: 5em;
	width: 5em;
	line-height: 5em;
	text-align: center;
	color: #07889B;
  background: #F1F1EF;
	position: relative;
	border: 1px solid #66B9BF;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
}

.vertical-menu li a:active {
	background: #E37222;
	color: #EEAA7B;
}

.vertical-menu li a:hover {
	background: #07889B;
	color: #fff;
}

/* class for current item */
.vertical-menu li.cbp-vicurrent a {
	background: #fff;
	color: #47a3da;
}

.vertical-menu li a:before {
	font-family: 'svgicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	text-indent: 0em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
}

.vertical-menu li a.icon-logo:before {
	content: "C";
	font-weight: 700;
	font-size: 300%;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

/* Example for media query (depends on total height of menu) */
@media screen and (max-height: 34.9375em) {

	.vertical-menu {
		font-size: 70%;
	}

}

.clear {

}

/* Managing the template */
.template-text textarea {
  width: 100%;
  height: 100%;
}

/**********************************/
/* List of cards in the Card view */
/**********************************/

select.cards-list {
  width: 100%;
  height: 10em;
}

/*******************/
/* Flex management */
/*******************/

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

/***********************/
/* --- Canvas View --- */
/***********************/
.canvas-view {
  overflow: auto;
}
.canvas-view canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#card-canvas-box {
  overflow-x: auto;
}

/***********************/
/* --- Page Footer --- */
/***********************/

.page-footer {
  color: #e37222;
  text-align: center;
  font-style: italic;
}

a {
  color: #07889B; }
a:hover {
  color: #E37222; }
